<html lang="en" dir="ltr">
  <%- include("partials/header") -%>

  <head>
    <link href="home.css" rel="stylesheet">
  </head>

  <body>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="">Personal Website</a><img class="tgLogo img-fluid" src="TG.png">
            <!-- Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

          <!-- Navbar Contents -->
          <div class="collapse navbar-collapse" id="navbarTogglerMenu">
          <!-- Navbar Links -->
            <ul class="navbar-nav ml-auto">

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <img class="Favicon" src="desktop.png"> Coding Skillset
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">HTML5</a>
                  <a class="dropdown-item" href="#">CSS3</a>
                  <a class="dropdown-item" href="#">Bootstrap 4</a>
                  <a class="dropdown-item" href="#">JavaScript ES6</a>
                  <a class="dropdown-item" href="#">jQuery</a>
                  <a class="dropdown-item" href="#">Command Line</a>
                  <a class="dropdown-item" href="#">Node.js</a>
                  <a class="dropdown-item" href="#">Express.js</a>
                  <a class="dropdown-item" href="#">API's</a>
                  <a class="dropdown-item" href="#">EJS</a>
                  <a class="dropdown-item" href="#">SQL</a>
                  <a class="dropdown-item" href="#">MongoDB</a>
                  <a class="dropdown-item" href="#">Mongoose</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <img class="Favicon" src="pencil.png"> Descriptions
                </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#stadiumContainer">Stadium Drawing</a>
                <a class="dropdown-item" href="#windmillContainer">Windmill Drawing</a>
              </div>
              </li>

              <li class="nav-item biography">
                <a class="nav-link" href="/biography"><img class="Favicon" src="book.png"> Biography</a>
              </li>

              <li class="nav-item contactMe">
                <a class="nav-link" href="/contactme"><img class="Favicon" src="letter.png"></i> Contact</a>
              </li>

              <li class="nav-item login">
                <a class="nav-link" href="/login"><img class="Favicon" src="key.png"> Login</a>
              </li>

              <li class="nav-item register">
                <a class="nav-link" href="/register"><img class="Favicon" src="member.png"> Registration</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <img class="Favicon" src="list.png"> Lists
                </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/list">List</a>
                <a class="dropdown-item" href="/work">Work</a>
              </div>
              </li>

            </ul>
          </div>
        </nav>


        <div id="titleContainer">
          <!-- Title -->
          <div>
            <h1 class="Title">I'm Tristan</h1>
          </div>
          <!-- Title Image -->
          <div>
            <img class="img-fluid canalDrawing" src="canalDrawing.png" alt="House and Canal Drawing" title="House and Canal, Somerset">
          </div>
        </div>

    <div id="secondContainer">
      <!-- Description Section -->
      <div>
        <p class="openingDescription">I am looking for my first role as a Front-end Web Developer, so I have created a
        'Personal Project' website. My favourite hobby is drawing, so I have displayed some of my most recent and pen and
        pencil works.</p>
      </div>
      <div>
        <p class="secondDescription">My typical subject matter is the landscapes and building around me in the United Kingdom.
        Having lived in the country all my life, I enjoy replicating scenes I have seen from memory and photographs alike.</p></div>
      </div>
      <!-- Tower Block Image -->
      <div>
        <img class="img-fluid towerBlockDrawing" src="towerblockDrawing.png" alt="Tower Blocks Drawing" title="Tower Blocks, Hampshire">
      </div>

      <!-- Stadium and Windmill Section -->
          <div id="stadiumContainer">
            <div>
              <img class="stadiumDrawing" src="stadiumDrawing.png" alt="Stadium Drawing" title="Millwall FC, Greater London">
            </div>
            <div class="stadiumDescriptionContainer">
              <p class="description">Depicting buildings is enjoyable, because I can demonstrate perspective based upon the angle
              and viewpoint.
              The details such as brickwork, lighting or pipe work are recognisable and therefore pleasing to replicate.</p>
              <p class="description">Furthermore, drawing 'The Den', home to <a href="https://www.millwallfc.co.uk/" target="_blank">Millwall Football Club</a> intriguing,
              because of the physical size of the stadium and its significance to the local community in <a href="https://en.wikipedia.org/wiki/Bermondsey" target="_blank">Bermondsey</a>, South London.
              Football Stadiums have a particular prominence in the urban typography of towns and cities in Britain. They can be viewed as
              landmarks; juxtaposed to housing estates, shopping parades and pubs.</p>
              <p class="description">Working with fine line pens is useful for attempting to reimagine British scenes, because
              the dark tones can be utilised to show the <a href="https://www.metoffice.gov.uk/weather/learn-about/weather/types-of-weather/rain/how-much-does-it-rain-in-the-uk" target="_blank">gloomy weather!</a></p>
            </div>
          </div>

          <div id="windmillContainer">
            <div>
              <img class="windmillDrawing" src="windmillDrawing.png" alt="Windmill Drawing" title="Windmill, Wiltshire">
            </div>
            <div class="windmillDescriptionContainer">
              <p class="description">For similar reasons to my drawing of a stadium, I chose to draw a windmill close to where
              I grew up. Standing on the top of hills in rural landscapes, windmills can be uncommon features, sharply contrasting the
              farmland, roads and villages surrounding them.</p>
              <p class="description">Drawing brickwork is the best part of creating building themed artwork in my experience.
              It can simultaneously provide scale, curvature and shadow; bringing previously flat looking objects to life and (hopefully)
              showing an effective illusion of 3-dimension.</p>
              <p class="description">Blades of grass and knots in the wood of fencing and gates are other intricate details,
              contributing to an overall image and sense of realism.</p>
            </div>
          </div>

<%- include("partials/footer") -%>

</body>
</html>
