<html lang="en" dir="ltr">
  <%- include("partials/header") -%>

  <head>
    <link href="security.css" rel="stylesheet">
  </head>

    <body>

      <div class="jumbotron text-center">
        <div class="container">
          <h1>You've Discovered My Secret!</h1>
          <p class="secret-text">My favourite band is Oasis and in my opinion their best song is 'Do you know what I mean?'.</p>
          <hr>

          <a class="btn selectors" href="/logout" role="button"><img class="Favicon" src="signOut.png"> Log Out</a>
          <a class="btn selectors" href="/submit" role="button"><img class="Favicon" src="submit.png"> Submit a Secret</a>
        </div>
      </div>

      <div id="wDrawings2">
        <img class="wealthDrawings2" src="stairsDrawing1.png">
      </div>

      <div id="wDrawings2">
        <img class="wealthDrawings2" src="stairsDrawing2.png">
      </div>

    <%- include("partials/footer") -%>

    </body>
  </html>
