<html lang="en" dir="ltr">
  <%- include("moreHTML/header") -%>

  <head>
    <link href="successAndFailure.css" rel="stylesheet">
  </head>

  <body>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fantastic!</h1>
      <p class="lead">You have been successful signing up to the e-mail list.</p>
    </div>
  </div>

  </body>
</html>
